<div class="img-responsive" id="headingbanner">

<h1 class="centre-block" id="logo" >Potago</h1>

<div><p id="tagline" >Potato to go!</p></div>

<img class="logoimg" src="http://a3145z1.americdn.com/wp-content/uploads/2013/11/carrots-health-benefits-and-nutrition-facts1.jpg" />
<img class="logoimg" src="http://katehoban.com/wp-content/uploads/2014/05/cauliflower.jpg" />

</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
   

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        

        <li class="dropdown">
          
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Farmers<span class="caret"></span></a>
          
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        
        </li>

        <li class="dropdown">
          
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users<span class="caret"></span></a>
          
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        
        </li>
        
        <li><a href="#">FAQs/Help</a></li>

        <li><a href="http://placekitty.artisan.io/200/300">Cristiano!</a></li>

      </ul>
      

    </div><!-- /.navbar-collapse -->
    
  </div><!-- /.container-fluid -->
</nav>
<div id="mainpage" class="img-responsive">

  <img id="mainback" src="http://www.potatoes.com/files/5713/4202/4172/07.jpg" />
  


</div>