<div id="thetop" >

  <div id="login" class="col-md-4" style="position: absolute;right:0px;top:0">
    <form class="navbar-form" role="search">
    <div class="form-group">
      <input id="emailogin" type="text" class="form-control" placeholder="Email Address">
    </div>
    <div class="form-group">
      <input id="passwordlogin" type="text" class="form-control" placeholder="Password">
    </div>
    <button id="loginbutton"type="submit" class="btn btn-default">Login</button>
    </form>
  </div>

  <div class="row col-md-8" id="headingbanner">

    <div id="carrots"> 
      <img class="logoimg" src="http://a3145z1.americdn.com/wp-content/uploads/2013/11/carrots-health-benefits-and-nutrition-facts1.jpg" /> 
    </div>

    <div id="logo" >
      <div id="lpbox">
        <h1 id="logophrase" >Potago</h1>
      </div>

      <div id="tagbox">
        <p id="tagline">Potato to go!</p>
      </div>
    </div>

    <div id="cauliflower"> 
      <img class="logoimg" src="http://katehoban.com/wp-content/uploads/2014/05/cauliflower.jpg" />
    </div>

  </div>


  <div id="thenav">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
       

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            

            <li class="dropdown">
              
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Farmers<span class="caret"></span></a>
              
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            
            </li>

            <li class="dropdown">
              
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users<span class="caret"></span></a>
              
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            
            </li>
            
            <li><a href="#">FAQs/Help</a></li>

            <li><a href="http://placekitty.artisan.io/200/300">Cristiano!</a></li>

          </ul>
          

        </div>
        
      </div>
    </nav>
  </div>

</div>


<div id="mainpage" >


  <div id="about" >
    <p class="text_head" >ABOUT US</p>
    <p>Loads of good food is wasted every year because it doesn't look good enough - not round enough or symmetrical enough - to be bought by supermarkets, and farmers are often left no choice but to throw it all away. If people were alerted to the availability of all this food in order to collect it then farmers can give them away cheaply or even for free as opposed to going to landfill. </p>
    <p>With Potago, farmers upload the type and amount of unwanted produce and alerts are sent to customers in the area so they can click and collect cheap or free food nearby!</p>
  </div>
  

</div>




<div id="signup">

  <!--<div id="signupforms">-->
    <form class="navbar-form" role="search">

      <div id="name" >
        <div class="form-group" id="firstname">
          <input id="firstname" type="text" class="form-control" placeholder="First Name">
        </div>

        <div class="form-group" id="surname">
          <input id="surname" type="text" class="form-control" placeholder="Surname">
        </div>
      </div>

      <div class="form-group" id="emailsignup">
        <input id="emailsignup" type="text" class="form-control" placeholder="Email Address">
      </div>

      <div class="form-group" id="passwordsignup">
        <input id="passwordsignup" type="text" class="form-control" placeholder="Password">
      </div>

      <div class="form-group" id="passwordconfirm">
        <input id="passwordconfirm" type="text" class="form-control" placeholder="Confirm Password">
      </div>

      <div class="form-group" id="firstaddresssignup">
        <input id="firstaddresssignup" type="text" class="form-control" placeholder="First Line of Address">
      </div>

      <div class="form-group" id="postcodesignup">
        <input id="postcodesignup" type="text" class="form-control" placeholder="Postcode">
      </div>

      <div id="signupbtn"> 
        <button type="submit" class="btn btn-default">Sign Up</button>
      </div>

    </form>
      
  <!--</div>-->

</div>



<div id="AddFood">

  <form>

    <div class="form-groupa" id="FoodType">
      <input id="FoodType" type="text" class="form-control" placeholder="What Food?">
    </div>

    <div class="form-groupa" id="AmountAvailable">
      <input id="AmountAvailable" type="text" class="form-control" placeholder="How Much?">
      <p>kg</p>
    </div>

    <button id="addfoodbtn" type="submit" class="btn btn-default">Add Food</button>

  </form>

</div>


<div id="FindFood">


    <div class="" id="">
      <p>FARM:</p>
      <p></p>
    </div>

    <div class="" id="">
      <p>FOOD:</p>
      <p></p>
    </div>

    <div> 
      <p>AMOUNT AVAILABLE</p>
      <p></p>
    </div>

    <div>
      <COSTS>
      <p></p>
    </div>

    <div>
      <p>ADDRESS</p>
      <p></p>
    </div>


</div>

<div id="BuyFood">


    <form>

    <div class="form-groupc" id="Name">
      <input id="Name" type="text" class="form-control" placeholder="Name">
    </div>

    <div class="form-groupc" id="Quantity">
      <input id="Quantity" type="text" class="form-control" placeholder="How Much Are You Buying?">
      <p>kg</p>
    </div>

    <div class="form-groupc" id="Quantity">
      <input id="Quantity" type="text" class="form-control" placeholder="How Much Are You Buying?">
      <p>kg</p>
    </div>

    <button id="addfoodbtn" type="submit" class="btn btn-default">Add Food</button>

  </form>


</div>

