// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: 'Oswald', sans-serif;

}

#headingbanner {
	
}

#logo {
	font-family: 'Indie Flower', cursive;
	font-size: 150px;
	color: #4C1A00;
}

#tagline {
	// color:;
	font-size: 40px;

}

#mainpage {

}

.logoimg {
	height: 200px;
}

.navbar {
	//background-color: green;
}